<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>


      <h1>Edit Post</h1>

      <form action="/posts/<%= post.id %>/update" method="post">

        <% if(post.lost == true) { %>
            <h4>Lost Pet</h4>
            <% } else { %>
            <h4>Found Pet</h4>
            <% } %>

        <div class="form-group">
          <label for="animal">What type of animal is it?</label>
          <input rows="1" class="form-control" name="animal" value="<%= post.animal %>" ></textarea>
        </div>

        <div class="form-group">
          <label for="color">What color is the animal?</label>
          <input textarea rows="2" class="form-control" name="color" value="<%= post.color %>"></textarea>
        </div>

        <div class="form-group">
          <label for="description">Please describe the animal</label>
          <input rows="4" class="form-control" name="description" value="<%= post.description %>"></textarea>
        </div>

        <div class="form-group">
          <label for="date">When was the animal lost/found?</label>
          <input name="date" type="date" value='<% new Date(post.date).getFullYear().toString().concat("-", new Date(post.date).getDate().toString(), "-", new Date(post.date).getMonth().toString()) %>'>
        </div>

        <div class="form-group">
          <label for="other">What other information can you share about the animal?</label>
          <input value="<%= post.other %>" textarea rows="4" class="form-control" name="other"></textarea>
        </div>

        <div class="form-group">
          <label for="reunited">Has this pet been runited with its owner?</label>
          <input type="checkbox" class="form-control" name="reunited" aria-describedby="reunited">Yes</input>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
