<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Found Animals</h1>

      <ul class="list-group">

        <% posts.forEach((post) => { %>

          <li class="list-group-item">
            <h4>Found Pet</h4>
            <p> TYPE: <%= post.animal %> </p>
            <p> COLOR: <%= post.color %> </p>
            <p> DESCRIPTION: <%= post.description %> </p>
            <p> DATE LOST: <%= post.date %> </p>
            <p> OTHER INFORMATION: <%= post.other %> </p>
            <a href="/posts/<%= post.id %>">See More </a>

          </li>
          <br>

        <% }) %>
      </ul>

    </main>
  </body>
</html>
