<!DOCTYPE html>

<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <h1>Lost Animals</h1>

      <ul class="list-group">

        <% posts.forEach((post) => { %>

          <li class="list-group-item">
            <h4>Lost Pet</h4>
            <p> TYPE: <%= post.animal %> </p>
            <p> COLOR: <%= post.color %> </p>
            <p> DESCRIPTION: <%= post.description %> </p>
            <p> DATE LOST: <%= ("0" + (new Date(post.date).getMonth()+1)).slice(-2).toString().concat("-", new Date(post.date).getDate().toString(), "-", new Date(post.date).getFullYear().toString()) %> </p>
            <p> OTHER INFORMATION: <%= post.other %> </p>
            <a href="/posts/<%= post.id %>">See More </a>

          </li>
          <br>
        <% }) %>
      </ul>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
