<!DOCTYPE html>

<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
        <% if(post.lost == true) { %>
            <h4>Lost Pet</h4>
            <% } else { %>
            <h4>Found Pet</h4>
            <% } %>
            <p> TYPE: <%= post.animal %> </p>
            <p> COLOR: <%= post.color %> </p>
            <p> DESCRIPTION: <%= post.description %> </p>
            <p> DATE: <%= post.date %> </p>
            <p> OTHER INFORMATION: <%= post.other %> </p>
            <a href="/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>

    </main>
    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
